In [1]:
import pandas as pd
#Both do the same thing
pd.read_csv(filepath_or_buffer = "pokemon.csv")        
pd.read_csv("pokemon.csv")

         Pokemon            Type
0      Bulbasaur  Grass / Poison
1        Ivysaur  Grass / Poison
2       Venusaur  Grass / Poison
3     Charmander            Fire
4     Charmeleon            Fire
..           ...             ...
804    Stakataka    Rock / Steel
805  Blacephalon    Fire / Ghost
806      Zeraora        Electric
807       Meltan           Steel
808     Melmetal           Steel

[809 rows x 2 columns]

In [2]:
pd.read_csv("pokemon.csv", index_col="Pokemon")

                       Type
Pokemon
Bulbasaur    Grass / Poison
Ivysaur      Grass / Poison
Venusaur     Grass / Poison
Charmander             Fire
Charmeleon             Fire
...                     ...
Stakataka      Rock / Steel
Blacephalon    Fire / Ghost
Zeraora            Electric
Meltan                Steel
Melmetal              Steel

[809 rows x 1 columns]

In [15]:
pokemon = pd.read_csv("pokemon.csv", index_col="Pokemon", squeeze=True) #Turns one data column dataframe into a series
pokemon

Pokemon
Bulbasaur      Grass / Poison
Ivysaur        Grass / Poison
Venusaur       Grass / Poison
Charmander               Fire
Charmeleon               Fire
                    ...
Stakataka        Rock / Steel
Blacephalon      Fire / Ghost
Zeraora              Electric
Meltan                  Steel
Melmetal                Steel
Name: Type, Length: 809, dtype: object

In [4]:
pd.read_csv("google_stocks.csv", parse_dates = ["Date"]).head() #Convert date strings to datetime

        Date  Close
0 2004-08-19  49.98
1 2004-08-20  53.95
2 2004-08-23  54.50
3 2004-08-24  52.24
4 2004-08-25  52.80

In [7]:
google = pd.read_csv(            
    "google_stocks.csv",            
    parse_dates = ["Date"],            
    index_col = "Date",            
    squeeze = True        
).head()#Series with date index
google

Date
2004-08-19    49.98
2004-08-20    53.95
2004-08-23    54.50
2004-08-24    52.24
2004-08-25    52.80
Name: Close, dtype: float64

In [8]:
pd.read_csv("revolutionary_war.csv").tail()

                         Battle  Start Date     State
227         Siege of Fort Henry   9/11/1782  Virginia
228  Grand Assault on Gibraltar   9/13/1782       NaN
229   Action of 18 October 1782  10/18/1782       NaN
230   Action of 6 December 1782   12/6/1782       NaN
231   Action of 22 January 1783   1/22/1783  Virginia

In [9]:
pd.read_csv(             
    "revolutionary_war.csv",             
    index_col = "Start Date",             
    parse_dates = ["Start Date"],         
).tail()

                                Battle     State
Start Date
1782-09-11         Siege of Fort Henry  Virginia
1782-09-13  Grand Assault on Gibraltar       NaN
1782-10-18   Action of 18 October 1782       NaN
1782-12-06   Action of 6 December 1782       NaN
1783-01-22   Action of 22 January 1783  Virginia

In [11]:
battles = pd.read_csv(             
    "revolutionary_war.csv",             
    index_col = "Start Date",             
    parse_dates = ["Start Date"],             
    usecols = ["State", "Start Date"],             
    squeeze = True         
).tail() #Convert to series using two columns with one as index
battles

Start Date
1782-09-11    Virginia
1782-09-13         NaN
1782-10-18         NaN
1782-12-06         NaN
1783-01-22    Virginia
Name: State, dtype: object

In [13]:
google = pd.read_csv(            
    "google_stocks.csv",            
    parse_dates = ["Date"],            
    index_col = "Date",            
    squeeze = True        
)
google.sort_values() #Sort from lowest to highest price

Date
2004-09-03      49.82
2004-09-01      49.94
2004-08-19      49.98
2004-09-02      50.57
2004-09-07      50.60
               ...
2019-04-23    1264.55
2019-10-25    1265.13
2018-07-26    1268.33
2019-04-26    1272.18
2019-04-29    1287.58
Name: Close, Length: 3824, dtype: float64

In [16]:
pokemon.sort_values() #Sort alphabetically, sorts uppercase first, then lowercase

Pokemon
Illumise                Bug
Silcoon                 Bug
Pinsir                  Bug
Burmy                   Bug
Wurmple                 Bug
                  ...
Tirtouga       Water / Rock
Relicanth      Water / Rock
Corsola        Water / Rock
Carracosta     Water / Rock
Empoleon      Water / Steel
Name: Type, Length: 809, dtype: object

In [17]:
google.sort_values(ascending=False)

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
               ...
2004-09-07      50.60
2004-09-02      50.57
2004-08-19      49.98
2004-09-01      49.94
2004-09-03      49.82
Name: Close, Length: 3824, dtype: float64

In [19]:
battles = pd.read_csv(             
    "revolutionary_war.csv",             
    index_col = "Start Date",             
    parse_dates = ["Start Date"],             
    usecols = ["State", "Start Date"],             
    squeeze = True         
)
battles.sort_values(na_position="last")# put nan at the end

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
                 ...
1782-08-08            NaN
1782-08-25            NaN
1782-09-13            NaN
1782-10-18            NaN
1782-12-06            NaN
Name: State, Length: 232, dtype: object

In [20]:
battles.sort_values(na_position="first")#put nan at the start

Start Date
1775-09-17         NaN
1775-12-31         NaN
1776-03-03         NaN
1776-03-25         NaN
1776-05-18         NaN
                ...
1781-07-06    Virginia
1781-07-01    Virginia
1781-06-26    Virginia
1781-04-25    Virginia
1783-01-22    Virginia
Name: State, Length: 232, dtype: object

In [21]:
battles.dropna().sort_values() #drop all nan

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
                 ...
1781-07-06       Virginia
1781-07-01       Virginia
1781-06-26       Virginia
1781-04-25       Virginia
1783-01-22       Virginia
Name: State, Length: 162, dtype: object

In [23]:
battles.value_counts(dropna=False) #count number of each value

NaN               70
South Carolina    31
New York          28
New Jersey        24
Virginia          21
Massachusetts     11
Pennsylvania      10
North Carolina     9
Florida            8
Georgia            6
Rhode Island       3
Connecticut        3
Vermont            3
New Hampshire      1
Delaware           1
Indiana            1
Louisiana          1
Ohio               1
Name: State, dtype: int64

In [25]:
battles.index #index all dates

DatetimeIndex(['1774-09-01', '1774-12-14', '1775-04-19', '1775-04-19',
               '1775-04-20', '1775-05-10', '1775-05-27', '1775-06-11',
               '1775-06-17', '1775-08-08',
               ...
               '1782-08-08', '1782-08-15', '1782-08-19', '1782-08-26',
               '1782-08-25', '1782-09-11', '1782-09-13', '1782-10-18',
               '1782-12-06', '1783-01-22'],
              dtype='datetime64[ns]', name='Start Date', length=232, freq=None)

In [26]:
battles.index.value_counts() #value count of index

1781-04-25    2
1781-05-22    2
1780-08-18    2
1781-09-13    2
1782-03-16    2
             ..
1778-06-30    1
1778-07-03    1
1778-07-27    1
1778-08-21    1
1783-01-22    1
Name: Start Date, Length: 217, dtype: int64

In [27]:
funcs = [len, max, min] #array of functions
for current_func in funcs:
    print(current_func(google))# applying each function in for loop

3824
1287.58
49.82

In [28]:
google.apply(func=round)

Date
2004-08-19      50
2004-08-20      54
2004-08-23      54
2004-08-24      52
2004-08-25      53
              ...
2019-10-21    1246
2019-10-22    1243
2019-10-23    1259
2019-10-24    1261
2019-10-25    1265
Name: Close, Length: 3824, dtype: int64

In [29]:
def single_or_multi(pokemon_type):       #create custom function      
    if "/" in pokemon_type:                 
        return "Multi"              
    return "Single"

pokemon.apply(single_or_multi) #apply custom fucntions

Pokemon
Bulbasaur       Multi
Ivysaur         Multi
Venusaur        Multi
Charmander     Single
Charmeleon     Single
                ...
Stakataka       Multi
Blacephalon     Multi
Zeraora        Single
Meltan         Single
Melmetal       Single
Name: Type, Length: 809, dtype: object

In [33]:
pokemon.apply(single_or_multi).value_counts()

Multi     405
Single    404
Name: Type, dtype: int64

In [35]:
#to find the days when the different battles in the revolutionary war occured
import datetime as dt #import datetime
days_of_war = pd.read_csv('revolutionary_war.csv', usecols=["Start Date"], parse_dates=["Start Date"], squeeze=True)#make Series

In [36]:
days_of_war.value_counts()

1781-04-25    2
1781-05-22    2
1780-08-18    2
1781-09-13    2
1782-03-16    2
             ..
1778-06-30    1
1778-07-03    1
1778-07-27    1
1778-08-21    1
1783-01-22    1
Name: Start Date, Length: 217, dtype: int64

In [39]:
def day_of_week(date):             #create custom function
    return date.strftime("%A")
days_of_war.dropna().apply(day_of_week).value_counts()#count days while dropping nan

Saturday     39
Friday       39
Wednesday    32
Thursday     31
Sunday       31
Tuesday      29
Monday       27
Name: Start Date, dtype: int64