In [1]:
import pandas as pd
import numpy as np

In [5]:
ice_cream_flavors = [
    "Chocolate",
    "Vanilla",
] #data must be passed in list
pd.Series(ice_cream_flavors) #passing data in series

0    Chocolate
1      Vanilla
dtype: object

In [6]:
pd.Series(data = ice_cream_flavors) #passing explicitly

0    Chocolate
1      Vanilla
dtype: object

In [7]:
days_of_week = ("Sunday", "Monday") #index must be in tuple
pd.Series(data=ice_cream_flavors, index=days_of_week)

Sunday    Chocolate
Monday      Vanilla
dtype: object

In [9]:
#data passed in a series can be boolean, integer or float
temperatures = [94, 88, np.nan, 44] #nan = not a number
pd.Series(temperatures)#series where one index value is missing

0    94.0
1    88.0
2     NaN
3    44.0
dtype: float64

In [10]:
dictionary = {"one":1, "two":2, "three":3}
dictionary = pd.Series(dictionary) #series from dictionary
dictionary

one      1
two      2
three    3
dtype: int64

In [11]:
pd.Series(data=("one", "two", "three")) #from tuples

0      one
1      two
2    three
dtype: object

In [12]:
list_of_tuples = [(11,22),(33,555)]
pd.Series(list_of_tuples) #List of tuples

0     (11, 22)
1    (33, 555)
dtype: object

In [13]:
pd.Series(list({1,3,4,55,33})) #sets must be converted to list before being a series

0     1
1    33
2     3
3     4
4    55
dtype: int64

In [14]:
random_data = np.random.randint(1,101,10) # 10 random bumbers between 1 and 101
random_data

array([26, 16, 59, 41, 16, 42, 84, 99, 86, 48])

In [15]:
dictionary.values #values in the series

array([1, 2, 3], dtype=int64)

In [16]:
type(dictionary.values)

numpy.ndarray

In [17]:
dictionary.index #Value of indexes

Index(['one', 'two', 'three'], dtype='object')

In [18]:
dictionary.dtype

dtype('int64')

In [19]:
dictionary.size

3

In [20]:
dictionary.shape

(3,)

In [21]:
dictionary.is_unique

True

In [22]:
pd.Series(data = [1, 3, 6]).is_monotonic # Check if series is in ascending order

True

In [23]:
values = range(0,500,5)
nums = pd.Series(data = values)
nums

0       0
1       5
2      10
3      15
4      20
     ...
95    475
96    480
97    485
98    490
99    495
Length: 100, dtype: int64

In [24]:
nums.head(3)

0     0
1     5
2    10
dtype: int64

In [25]:
numbers = pd.Series([1, 2, 3, np.nan, 4, 5])# Series with one nan         
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [26]:
numbers.count# Count non numbers

5

In [27]:
numbers.sum()#if skipna = False, nan also counts

15.0

In [28]:
numbers.sum(min_count=3)# minimum 3 items

15.0

In [29]:
numbers.sum(min_count=6)# doesn't meet this requirement receives nan

nan

In [30]:
numbers.product()#product of non-nan

120.0

In [31]:
numbers.cumsum()#Cumulative sum

0     1.0
1     3.0
2     6.0
3     NaN
4    10.0
5    15.0
dtype: float64

In [32]:
numbers.pct_change()#change expressed percentage

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [34]:
numbers.mean() #mean

3.0

In [35]:
numbers.median() #median

3.0

In [36]:
numbers.std() #SD

1.5811388300841898

In [37]:
numbers.max() #biggest

5.0

In [38]:
numbers.min() #smallest

1.0

In [39]:
numbers.describe() #various values

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64